<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>회원 탈퇴</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <script>
        function goBack(){
            window.history.back();
        }
    </script>
</head>
<body>
    <h1>회원 탈퇴</h1>
    <form action="/deleteMember" method="POST">
    <div>회원 탈퇴하시려면 비밀번호를 입력해주세요.</div>
    비밀번호: <input type="password" name="member_pw">
    <button type="submit">회원탈퇴</button>
</form>    
    <div>
        <button onclick="goBack()">뒤로가기</button> 
    </div>    
</body>
</html>